@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/futurapt-light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/futurapt-book.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 450;
  src: url("../fonts/futurapt-medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/futurapt-demi.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/segoeui-lightitalic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/segoeui-regularitalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/forum-regular.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1440px;
  margin: 0;
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #272727;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-center {
  width: 1115px;
  margin: 0 auto;
}

.container-center-second {
  width: 1440px;
  margin: 0 auto;
}

.main-header,
.hero {
  background-image: linear-gradient(to right, transparent, transparent 58%, #272727 58%, #272727);
}

.main-header {
  padding: 60px 0;
}

.main-nav {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header-logo {
  width: 258px;
  margin-right: auto;
}

.header-logo-img {
  display: block;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #272727;
}

.navigation-link,
.menu-burger-button {
  display: block;
  font-size: 16px;
  font-weight: 450;
  letter-spacing: 0.96px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.user-navigation-link {
  display: block;
  min-width: 56px;
  min-height: 53px;
  box-sizing: border-box;
  padding: 15px 20px;
  background-image: url("../images/favorite-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.sign-in {
  background-image: url("../images/sign-in-icon.svg");
}

.cart {
  position: relative;
  background-image: url("../images/cart-icon.svg");
}

.cart-counter {
  position: absolute;
  left: 100%;
  min-width: 20px;
  max-width: 25px;
  font-size: 18px;
  font-weight: 300;
  transform: translateX(-50%);
}

.menu-burger-button {
  margin-left: 78px;
  height: 53px;
}

.burger-icon {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  margin-top: 25px;
  background-color: #ffffff;
}

.burger-icon::before,
.burger-icon::after {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
}

.burger-icon::after {
  top: 100%;
  margin-top: 6px;
  margin-bottom: 0;
}

.menu-burger-button:hover .burger-icon::before,
.menu-burger-button:focus .burger-icon::before {
  transform: translateY(-4px);
}

.menu-burger-button:hover .burger-icon::after,
.menu-burger-button:focus .burger-icon::after {
  transform: translateY(4px);
}
.menu-burger-button:active {
  opacity: 0.6;
}

.menu-burger-button:active .burger-icon::before {
  transform: translateY(-4px);
}
.menu-burger-button:active .burger-icon::after {
  transform: translateY(4px);
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding: 254px 0 60px;
  margin-bottom: 20px;
}

.hero .container-center {
  display: grid;
  grid-template-columns: 475px 547px;
  grid-template-rows: 1fr;
  column-gap: 94px;
  min-height: 537px;
}

.hero-column-container {
  display: flex;
  flex-direction: column;
}

.hero-title {
  margin: 12px 0 50px;
  font-family: "Forum", serif;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 1.92px;
  color: #272727;
  text-transform: uppercase;
}

.hero-produсt {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-more-link {
  position: relative;
  align-self: flex-end;
  max-width: 306px;
  font-family: "Segoe UI", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #272727;
  text-decoration: none;
  text-align: right;
}

.hero-more-link:hover,
.hero-more-link:focus {
  color: #e2b67a;
}

.hero-more-link:active {
  color: rgba(38, 38, 38, 0.3);
}

.hero-more-link::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 15px;
  width: 130px;
  height: 1px;
  margin-right: 38px;
  background-color: #272727;
}

.hero-product-description {
  align-self: flex-end;
  text-align: right;
}

.product-card-title {
  margin: 0;
  margin-bottom: 9px;
  font-family: "Futura PT", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: #272727;
  text-transform: uppercase;
}

.product-card-materials {
  margin: 0;
  margin-bottom: 9px;
  color: #757575;
}

.product-card-price {
  font-family: "Segoe UI", sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.54px;
  color: #e2b67a;
}

.hero-produсt .product-card-title {
  color: #ffffff;
  background-color: #272727;
}

.hero-produсt .product-card-materials {
  color: #c2c2c2;
  background-color: #272727;
}

.hero-produсt .product-card-price {
  font-weight: 300;
  color: #efc58b;
  background-color: #272727;
}

.language-menu {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.language-menu-link {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  color: #c4c4c4;
  text-transform: uppercase;
  text-decoration: none;
}

.language-menu-link:not(.language-menu-current):hover,
.language-menu-link:not(.language-menu-current):focus {
  color: #e2b67a;
}

.language-menu-link:not(.language-menu-current):active {
  opacity: 0.3;
}

.language-menu-current {
  color: #272727;
}

.catalog-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalog-menu-column {
  position: relative;
  box-sizing: border-box;
  width: 710px;
  padding: 227px 139px 258px 138px;
  background-color: #272727;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.catalog-menu-column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 39, 39, 0.4);
}

.male-catalog {
  background-image: url("../images/male-background.jpg");
}

.female-catalog {
  background-image: url("../images/female-background.jpg");
}

.catalog-menu-link {
  position: relative;
  display: block;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.catalog-menu-link:hover,
.catalog-menu-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-menu-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 130px;
  height: 1px;
  margin-top: 22px;
  background-color: #ffffff;
  transform: translateX(-50%);
}

.catalog-menu-gender {
  display: block;
  font-family: "Forum", serif;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 1.92px;
}

.search {
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #272727;
}

.search .container-center-second {
  display: flex;
}

.search-column-container {
  box-sizing: border-box;
  width: 710px;
  padding: 171px 162px 172px;
}

.search-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: "Forum", serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1.44px;
}

.search-description {
  margin: 0;
  margin-bottom: 60px;
}

.form {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 2px solid #ffffff;
}

.field {
  box-sizing: border-box;
  width: 358px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.40);
  background-color: transparent;
  border: none;
}

.field::placeholder {
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.40);
}

.field:focus:invalid {
  border-top: 1px solid #f88c6b;
  outline: none;
}

.form-button {
  display: inline-block;
  width: 30px;
  height: 15px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/arrow-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.search-map {
  display: block;
  width: 733px;
}

.product-cards {
  margin-bottom: 20px;
}

.product-cards-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-card-huge {
  grid-row: span 2;
}

.product-card {
  position: relative;
}

.product-card-img {
  display: block;
}

.product-card-description {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.light-theme .product-card-title {
  color: #ffffff;
}

.light-theme .product-card-materials {
  color: #e7e7e7;
}

.light-theme .product-card-price {
  color: #efc58b;
}

.social-media {
  padding: 100px 0;
  color: #ffffff;
  background-color: #272727;
}

.social-media .container-center-second{
  position: relative;
}

.social-media-title {
  margin: 0;
  margin-bottom: 80px;
  margin-left: 162px;
  font-family: "Forum", serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1.44px;
}

.slider {
  overflow: hidden;
}

.slider-images-list {
  display: flex;
  gap: 25px;
  min-width: 1775px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.slider-list-item {
  flex-shrink: 0;
}

.slider-image {
  display: block;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 17px;
  max-width: 550px;
  margin: 0;
  margin-left: auto;
  margin-right: 162px;
  padding: 0;
  list-style: none;
}

.slider-pagination-item:first-child {
  margin-right: 33px;
}

.slider-pagination-item:last-child {
  margin-left: 33px;
}

.slider-pagination-button {
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  background-color: #656565;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.slider-pagination-button:not(.slider-arrows):hover,
.slider-pagination-button:not(.slider-arrows):focus {
  background-color: #e2b67a;
}

.slider-pagination-button:not(.slider-arrows):active {
  opacity: 0.6;
}

.slider-button-active {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
}

.slider-arrows {
  width: 53px;
  height: 34px;
  border: none;
  background-color: transparent;
  background-image: url("../images/slider-next.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-arrows:hover,
.slider-arrows:focus {
  opacity: 0.6;
}

.slider-arrows:active {
  opacity: 0.3;
}

.slider-prev {
  transform: rotate(180deg);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-media .social-list {
  position: absolute;
  bottom: 0;
  left: 162px;
  max-width: 500px;
}

.social-link {
  display: block;
  width: 35px;
  height: 35px;
}

.social-link-icon {
  transform: scale(1);
  transition: transform 0.3s ease;
  fill: #ffffff;
}

.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  transform: scale(0.8);
  fill: #e2b67a;
}

.social-link:active .social-link-icon {
  opacity: 0.3;
}

.contacts {
  background-image: url("../images/contacts-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts .tel {
  margin-bottom: 110px;
}

.contacts-container {
  box-sizing: border-box;
  width: 731px;
  min-height: 640px;
  margin-left: auto;
  padding: 179px 208px 180px 183px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.tel-link,
.subscribe-field,
.subscribe-field::placeholder {
  font-size: 22px;
  color: #959595;
  text-decoration: none;
}

.tel-link:hover,
.tel-link:focus {
  color: #e2b67a;
}

.tel-link:active {
  opacity: 0.6;
}

.subscribe-form {
  width: 281px;
  padding-bottom: 2px;
  border-bottom-color: #272727;
}

.subscribe-field {
  width: 250px;
}

.subscribe-button {
  background-image: url("../images/arrow-button-dark.svg");
}

.main-footer {
  padding: 76px 0 80px;
  color: #c2c2c2;
  background-color: #272727;
}

.main-footer .container-center {
  display: flex;
  flex-wrap: wrap;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 71px;
  width: 100%;
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  list-style: none;
}

.footer-navigation-link {
  font-size: 14px;
  font-weight: 450;
  color: #ffffff;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-logo {
  width: 258px;
  margin-right: auto;
  margin-top: 17px;
}

.footer-contacts {
  width: 185px;
}

.footer-contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-contacts-item {
  margin-bottom: 15px;
}

.footer-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.footer-tel-link {
  font-size: 18px;
}

.footer-column {
  width: 280px;
  margin-left: 80px;
}

.footer-subscribe {
  margin-bottom: 12px;
}

.footer-subscribe-form {
  width: 280px;
}

.footer-subscribe-field {
  width: 250px;
  font-size: 18px;
}

.footer-store-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 7px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-store-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-store-logo {
  display: block;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  box-sizing: border-box;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  color: #ffffff;
  background-color: #272727;
}

.popover-shown {
  display: block;
}

.popover-content {
  height: 100%;
}

.popover-header {
  padding: 40px 0;
}

.popover-close-button {
  position: relative;
  width: 23px;
  height: 53px;
  margin-left: 55px;
}

.popover-close-button::before,
.popover-close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 1px;
  transform: translateY(-50%) rotate(45deg);
}

.popover-close-button::after {
  transform: translateY(-50%) rotate(-45deg);
}

.popover-close-button:hover,
.popover-close-button:focus {
  opacity: 0.6;
}

.popover-close-button:active {
  opacity: 0.3;
}

.site-navigation {
  margin-bottom: 70px;
  background-color: #2f2f2f;
}

.site-navigation-list {
  gap: 50px;
  background: transparent;
}

.site-navigation-link {
  position: relative;
  padding: 27px 0;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 1px;
}

.site-navigation-link:not(.navigation-link-current)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2b67a;
  border-radius: 1px;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.3s ease;
}

.site-navigation-link:not(.navigation-link-current):hover::after,
.site-navigation-link:not(.navigation-link-current):focus::after {
  transform: scale(1);
}

.site-navigation-link:active {
  opacity: 0.6;
}

.navigation-topics {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
}

.for-who {
  width: 100px;
}

.category {
  width: 95px;
}

.material {
  width: 132px;
}

.brand {
  width: 154px;
}

.navigation-topic-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

.popover-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand .popover-navigation {
  margin-bottom: 15px;
}

.popover-navigation-item {
  margin-bottom: 15px;
}

.popover-navigation-item:last-child {
  margin-bottom: 0;
}

.popover-navigation-link {
  position: relative;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1.08px;
  text-decoration: none;
}

.popover-navigation-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e2b67a;
  border-radius: 1px;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.3s ease;
}

.popover-navigation-link:hover::after,
.popover-navigation-link:focus::after {
  transform: scale(1);
}

.popover-navigation-link:active {
  opacity: 0.6;
}

.more-brands {
  position: relative;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  color: #efc58b;
  text-decoration: none;
}

.more-brands::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e2b67a;
  border-radius: 1px;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.3s ease;
}

.more-brands:hover::after,
.more-brands:focus::after {
  transform: scale(1);
}

.more-brands:active {
  opacity: 0.6;
}

.popover-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
  padding: 66px 0 76px;
  border-top: 2px solid #2f2f2f;
}

.popover-footer-banner {
  position: relative;
  box-sizing: border-box;
  width: 749px;
  padding: 30px;
  background-color: #272727;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.popover-footer-banner::before {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(39, 39, 39, 0.50);
}

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 208px;
  font-weight: 400;
  letter-spacing: 1.08px;
}

.banner-content-title {
  align-self: center;
  margin: 0;
  font-family: "Forum", serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.banner-content-description {
  margin: 0;
  order: -1;
}

.banner-content-link {
  position: relative;
  align-self: flex-end;
  box-sizing: border-box;
  min-width: 224px;
  padding-right: 30px;
  color: #ffffff;
  text-decoration: none;
}

.banner-content-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -3px;
  display: block;
  width: 31px;
  height: 17px;
  background-image: url("../images/arrow-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.banner-content-link:hover::after,
.banner-content-link:focus::after {
  transform: translateY(-50%) translateX(5px);
}

.banner-content-link:active {
  opacity: 0.6;
}

.popover .footer-contacts-list {
  margin-bottom: 48px;
}
